@media  screen and (max-width: 480px) {
  .card-container{ 
    grid-template-columns: 1fr ; 
    background-color: red;
  }
  
}
@media  screen and (max-width: 780px) {
    .card-container{ 
      grid-template-columns: 1fr 1fr; 
      background-color: red;
    }
    
  }
      